/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    chosen {
        zmk,matrix_transform = &default_transform;

        // zmk,matrix_transform = &five_column_transform;
    };
};

/ {
//组合键定义
    macros {
        menu_LS_F10: menu_LS_F10 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp F10>
                , <&macro_release &kp LSHFT>
                ;
        };
        resource_WIN_E: resource_WIN_E {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp E>
                , <&macro_release &kp LGUI>
                ;
        };
        task_LC_LS_ESC: task_LC_LS_ESC {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL &kp LSHIFT>
                , <&macro_tap &kp ESC>
                , <&macro_release &kp LCTRL &kp LSHIFT>
                ;
        };
        connect_WIN_K: connect_WIN_K {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp K>
                , <&macro_release &kp LGUI>
                ;
        };
        lock_WIN_L: lock_WIN_L {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp L>
                , <&macro_release &kp LGUI>
                ;
        };
    };

//不同按键行为导致的背光变化
    macros {
//按修饰键时亮度增加
        ctrl_pink_bri: ctrl_pink_bri {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &rgb_ug RGB_COLOR_HSB(340 ,80,35)>
                , <&macro_pause_for_release>
                , <&macro_release &kp LCTRL>
                , <&macro__release &rgb_ug RGB_COLOR_HSB(335,75,10)>
                ;
        };
        shift_pink_bri: shift_pink_bri {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHIFT>
                , <&macro_tap &rgb_ug RGB_COLOR_HSB(340 ,80,35)>
                , <&macro_pause_for_release>
                , <&macro_release &kp LSHIFT>
                , <&macro__release &rgb_ug RGB_COLOR_HSB(335,75,10)>
                ;
        };
        gui_pink_bri: gui_pink_bri {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &rgb_ug RGB_COLOR_HSB(340 ,80,35)>
                , <&macro_pause_for_release>
                , <&macro_release &kp LGUI>
                , <&macro__release &rgb_ug RGB_COLOR_HSB(335,75,10)>
                ;
        };
        alt_pink_bri: alt_pink_bri {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_tap &rgb_ug RGB_COLOR_HSB(340 ,80,35)>
                , <&macro_pause_for_release>
                , <&macro_release &kp RALT>
                , <&macro__release &rgb_ug RGB_COLOR_HSB(335,75,10)>
                ;
        };
//切layer1背光变黄色
        layer1_yellow: layer1_yellow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &mo 1>
                , <&macro_tap &rgb_ug RGB_COLOR_HSB(20,100,30)>
                , <&macro_pause_for_release>
                , <&macro_release &mo 1>
                , <&macro__release &rgb_ug RGB_COLOR_HSB(335,75,10)>
                ;
        };
//切layer2变浅绿
        layer2_green: layer2_green {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &mo 1>
                , <&macro_tap &rgb_ug RGB_COLOR_HSB(55,65,20)>
                , <&macro_pause_for_release>
                , <&macro_release &mo 1>
                , <&macro__release &rgb_ug RGB_COLOR_HSB(335,75,10)>
                ;
        };
//切layer3变白光
        layer3_white: layer3_white {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &mo 1>
                , <&macro_tap &rgb_ug RGB_COLOR_HSB(55,0,20)>
                , <&macro_pause_for_release>
                , <&macro_release &mo 1>
                , <&macro__release &rgb_ug RGB_COLOR_HSB(335,75,10)>
                ;
        };
//系统重置变红光
        sys_reset_red: sys_reset_red {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &sys_reset>
                , <&macro_tap &rgb_ug RGB_COLOR_HSB(360,100,20)>
                , <&macro_pause_for_release>
                , <&macro_release &sys_reset>
                , <&macro__release &rgb_ug RGB_COLOR_HSB(335,75,10)>
                ;
        };
        bootloader_red: bootloader_red {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &bootloader>
                , <&macro_tap &rgb_ug RGB_COLOR_HSB(360,100,20)>
                , <&macro_pause_for_release>
                , <&macro_release &bootloader>
                , <&macro__release &rgb_ug RGB_COLOR_HSB(335,75,10)>
                ;
        };
//清空蓝牙变淡红光
        btclrall_red: btclrall_red {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &bt BT_CLR_ALL>
                , <&macro_tap &rgb_ug RGB_COLOR_HSB(360,90,25)>
                , <&macro_pause_for_release>
                , <&macro_release &bt BT_CLR_ALL>
                , <&macro__release &rgb_ug RGB_COLOR_HSB(335,75,10)>
                ;
        };
//大写锁定开启时背光粉色加深??? 用toggle?
/*
        caps_pink_sai: caps_pink_sai {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp CAPS,&rgb_ug RGB_COLOR_HSB(335 ,95,30)>
                , <&macro_tap &rgb_ug RGB_COLOR_HSB(360,90,25)>
                , <&macro_pause_for_release>
                , <&macro_release &bt BT_CLR_ALL>
                , <&macro__release &rgb_ug RGB_COLOR_HSB(335,75,10)>
                ;
        };
*/
//可以不用宏定义的组合键定义
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD0";
            #binding-cells = <0>;
            bindings = <&shift_pink_bri>, <&kp CAPS>;
        };
    };

//正式键盘布局
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";

            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | SHFT+CAPS |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  "   | 
            // | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |  \   |
            //                    | GUI | LWL | SPC |   | L3+EBTER | LAYER2| RALT |

            bindings = <
&kp TAB         &kp Q  &kp W  &kp E     &kp R  &kp T          &kp Y  &kp U  &kp I      &kp O    &kp P     &kp BSPC
&td0            &kp A  &kp S  &kp D     &kp F  &kp G          &kp H  &kp J  &kp K      &kp L    &kp SEMI  &kp DQT
&ctrl_pink_bri  &kp Z  &kp X  &kp C     &kp V  &kp B          &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp BSLH
            &gui_pink_bri  &layer1_yellow  &kp SPACE          &lt 3 ENTER  &layer2_green   &alt_pink_bri
            >;
        };

        lower_layer {
            display-name = "SYMBOL";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  ~  |  !  |  @  |  #  |  $  |   |  (  |  )  |  ↑  |  -  |  _  |   +  |
            // | SHFT |  `  |  %  |  ^  |  &  |  *  |   |PGUP |  ←  |  ↓  |  →  |  :  |   '  |
            // | CTRL |  |  |  {  |  }  |RGB开|RGB关|   |PGDN |  <  |  >  |HOME |  ?  | END  |
            //               | GUI |     | 鼠标右键 |   |PRTSCR| DEL | RALT |

            bindings = <
&trans  &kp TILDE  &kp EXCL   &kp AT    &kp HASH   &kp DLLR              &kp LPAR   &kp RPAR   &kp UP    &kp MINUS  &kp UNDER  &kp PLUS
&trans  &kp GRAVE  &kp PRCNT  &kp AMPS  &kp CARET  &kp STAR              &kp PG_UP  &kp LEFT   &kp DOWN   &kp RIGHT  &kp COLON  &kp SQT
&trans  &kp PIPE   &kp LBRC  &kp RBRC  &rgb_ug RGB_ON  &rgb_ug RGB_OFF   &kp PG_DN  &kp LT     &kp GT     &kp HOME   &kp QMARK  &kp END
                             &trans  &trans   &menu_LS_F10        &kp PSCRN  &kp DEL  &trans
            >;
        };

        raise_layer {
            display-name = "NUMBER";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  [  |  ]   |      |RGB定1 |RGB定2 |RGB亮↓|RGB亮↑|RGB色↓|RGB色↑|
            // | CTRL |  4  |  5  |  6  |  0  |资源管理器|   |RGB灯← | RGB灯→|RGB动↓|RGB动↑|RGB饱↓|RGB饱↑|
            // | SHFT |  7  |  8  |  9  |  =  |任务管理器|   |蓝牙0  | 蓝牙1 |蓝牙2  |蓝牙3 |蓝牙4 |当前蓝牙清|
            //                    | ESC | INS | SPACE |      |OUT_BLE|       |OUT_USB|

            bindings = <
&trans  &kp N1  &kp N2  &kp N3  &kp LBKT   &kp RBKT                   &rgb_ug RGB_COLOR_HSB(340 ,80,40)  &rgb_ug RGB_COLOR_HSB(335,75,15)  &rgb_ug RGB_BRD  &rgb_ug RGB_BRI  &rgb_ug RGB_HUD  &rgb_ug RGB_HUI
&trans  &kp N4  &kp N5  &kp N6  &kp N0     &resource_WIN_E            &rgb_ug RGB_EFR                  &rgb_ug RGB_EFF  &rgb_ug RGB_SPD  &rgb_ug RGB_SPI  &rgb_ug RGB_SAD  &rgb_ug RGB_SAI
&trans  &kp N7  &kp N8  &kp N9  &kp EQUAL  &task_LC_LS_ESC            &bt BT_SEL 0                     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4     &bt BT_CLR
                     &kp ESC  &kp INS  &kp SPACE                      &out OUT_BLE                     &trans           &out OUT_USB
            >;
        };

        layer_3 {
            display-name = "Fn";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  F1  |  F2  |  F3  |  F4  |SYS RESET |     |   亮度↓   | 亮度↑| 静音 | 音量- | 音量+ | 连设备win+k |
            // | CTRL |  F5  |  F6  |  F7  |  F8  |BOOTLOADER|     |BOOTLOADER |     | 暂停 |上一曲 | 下一曲|  锁定win+L |
            // | SHFT |  F9  |  F10 |  F11 |  F12 |PAUSE BREAK|    |          |蓝牙全清|     |       | 禁用外部电源 |启用外部电源|
            //                      | GUI  |SCRLK  |        |      |&trans|      |Alt|

            bindings = <
&trans  &kp F1  &kp F2   &kp F3   &kp F4   &sys_reset_red     &kp C_BRI_DN  &kp C_BRI_UP  &kp C_MUTE  &kp C_VOL_DN    &kp C_VOL_UP       &connect_WIN_K
&trans  &kp F5  &kp F6   &kp F7   &kp F8   &bootloader_red    &bootloader   &none        &kp C_PP     &kp C_PREV      &kp C_NEXT         &lock_WIN_L
&trans  &kp F9  &kp F10  &kp F11  &kp F12  &kp PAUSE_BREAK    &none      &btclrall_red   &none        &none           &ext_power EP_OFF  &ext_power EP_ON
                 &kp LGUI  &kp SLCK        &none              &trans       &trans       &kp RALT
            >;
        };
    };
};
